body { margin: 0; padding: 0; }
.map {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 85%;
    top: 0;
}

.leaflet-popup-content {
    width: 100px !important;
}

.popup-button {
    display: block;
    margin: 0 auto;
}
