body { margin: 0; padding: 0; }
.map {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 85%;
    top: 0;
}

.leaflet-popup-content {
    width: 250px !important;
    line-height: 1;
}

.popup-button {
    display: block;
    margin: 0 auto;
}
.marker_professionalArea {
    color: darkgreen;
    font-size: 18px;
}
.marker_description {
    color: grey;
    font-size: 16px;
}
